<shared-menu></shared-menu>
<div class=" mt-4">
  <div class="col-12 md:col-4">
    <div class="m-1 relative bg-primary-100 p-4 border-round font-bold text-gray-800" style="min-width: auto; min-height: auto;">Relative
    </div>
    <div class="m-1 relative bg-primary-100 p-4 border-round font-bold text-gray-800" style="min-width: auto; min-height: auto;">Relative
    </div>
    <div class="m-1 relative bg-primary-100 p-4 border-round font-bold text-gray-800" style="min-width: auto; min-height: auto;">Relative
    </div>
  </div>
</div>
