<!--
<p-panel header="Header"> -->

  <p-carousel [value]="socialMediaList" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" >
    <ng-template let-socialMediaList pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <img [src]="socialMediaList.img" [alt]="socialMediaList.title" class="w-6 shadow-2" />
            </div>
            <div>
                <h4 class="mb-1">{{ socialMediaList.title }}</h4>
                <h6 class="mt-0 mb-3">{{socialMediaList.nickname }}</h6>
                <div class="car-buttons mt-5">
                    <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-external-link" label="Visit my {{socialMediaList.title | lowercase}} profile" (onClick)="goToSocialMediaProfile(socialMediaList.url)" ></p-button>
                </div>
            </div>
        </div>
    </ng-template>
  </p-carousel>
<!-- </p-panel> -->
